//	GLOBAL VARIABLES //


//	TYPOGRAPHY VARIABLES //


//	COLOR VARIABLES //
$primary_color: #E00021;
$secondary_color: #5f6062;
$accent: #46166b;

$primary_color_lighten: lighten(#E00021, 40%);
$secondary_color_lighten: lighten(#5f6062, 40%);
$accent_highlight: lighten(#46166b, 40%);

//	TYPOGRAPHY VARIABLES //
$base_html_font_size: 17px;
$base_html: 17;


//	PAGE SPECIFIC VARIABLES //


//MEDIA QUERY VARIABLES //
