#vertical_fullwidth {
	img {
		width: 100%;
		border: 1px solid white;
	}
}

#about {
	img {
		width: 100%;
	}
	h1, p {
		text-align: center;
		padding: 40px 60px 5px;
	}
	h1 {
		letter-spacing: 8px;
		span {
			font-weight: bolder;
		}
	}
	p {
		span {
			color: $secondary_color;
			font-weight: bolder;
		}
	}
	hr {
		max-width: 25%;
		border: 5px solid $accent_green;
		margin: 0 auto;
		padding: 0;
	}
}
#services {
	hr {
		max-width: 25%;
		border: 5px solid $accent_green;
		margin: 0 auto;
		padding: 0;
	}
	text-align: center;
	img {
		display: inline-block;
		margin: 0 auto;
	}
	.service_wrap {
		margin: 50px auto;
		padding: 60px 45px;
		border: 1px solid $primary_background;
	}
}