header #slider_fullwidth {
  padding: 0;
}

.carousel-fade {
  .carousel-inner {
    .item {
	@include transition(opacity, 3.0s, ease-out, 0);;
      opacity: 0;
      transition-property: opacity;
	width: 100%;
	margin: 0 auto;
	height: 900px;	
	.center-block {
		padding: 0;
	}
    }

    .active {
      opacity: 1;
      @include transition(opacity, 3.0s, ease,0);;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
       @include transition(opacity, 3s, ease-in,0.5s);;
      
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
    @include transition(all, 3s, ease,0);;
    span {
      color: white;
      background-color: white;
      opacity: 1;
      border-radius: 50%;
    }
  }
}

.carousel, 
.carousel-inner, 
.carousel-inner .item {
  min-height: 400px;
  max-height: 750px;
}

@media screen and (min-width: 1026px) {
  .carousel-fade {
  .carousel-inner {
    .item {
      background-size: cover;
      -webkit-background-size: cover;
      }
    }
  }
}
.item:nth-child(1) {

  background: url('../imgS/work/fc2.jpg') center center no-repeat;
}
.item:nth-child(2) {
  background: url('../imgS/work/fc3.jpg') center center no-repeat;}

.item:nth-child(3) {
	  background: url('../imgS/work/fc4.jpg') center center no-repeat;
}
.item:nth-child(4) {
  	background: url('../imgS/work/fc5.jpg') center center no-repeat;
}
.item:nth-child(5) {
  background: url('../imgS/work/fc6.jpg') center center no-repeat;}

.item:nth-child(6) {
	  background: url('../imgS/work/fc7.jpg') center center no-repeat;

}
.item:nth-child(7) {
  background: url('../imgS/work/fc8.jpg') center center no-repeat;}

a.carousel-control.right, a.carousel-control.left {
	background-image: none; 
}

#portfolio-description-text {
  h1 {
    text-align: center;
    letter-spacing: 0.15em;
    &:first-line {
     @include highlight($accent_green);;
    }
  }
  h4 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 55px;
  }
  p {
    padding-top: 20px;
    letter-spacing: 0.1em;
    color: darkgray;
    &:first-of-type {
      padding-top: 50px;
      display: inline-block;
      float: right;
    &:first-letter {
      margin-top: -20px;
      margin-bottom: -40px;
      margin-right: 5px;
      @include highlight($secondary_color);;
      @include rem(100);;
      display: inline-block;
      float: left;
      }
    }
  }
}
#gallery_info {
  border-top: 2px solid $primary_color;
  border-bottom: 2px solid $primary_color;
  padding: 40px 0;
  margin-top: 40px;
  margin-bottom: 20px;
  h5 {
    text-transform: uppercase;
    padding-bottom: 0px;
    margin-bottom: -2px;
    color: $primary_color;
  }
  h6 {
    color: gray;
  }
}
div#social_media-share {
  padding: 0;
}
div.soc-media-links {
  padding: 0;
  display: inline-block;
  margin: 0 auto;
  button {
    display: block;
    color: white;
    border-radius: 3px;
    margin: 30px auto;
    padding: 5px 0;
    width: 80%;
  }
}
button#soc-fb {
  background-color: #5975b1;
  border-color: #5975b1;
}
button#soc-twtr {
  background-color: #53c3ee;
  border-color: #53c3ee;
}
button#soc-gp {
  background-color: #d54e55;
  border-color: #d54e55;
}
button#soc-pin {
  background-color: #de4d35;
  border-color: #de4d35;
}
.post-navigation {
  display: block;
  width: 100%;
  text-align: center;
  letter-spacing: 0.2em;
  background-color: #FFF;
    a {
      margin: 60px 0;
      border: 1px solid $primary_color;
      display: block;
      color: $primary_color;
      padding: 15px 10px;
      @include transition(all, 1s, ease, 0);;
      span.no-show {
        display: none;
      }
      &:hover {
        border: 1px solid $secondary_color;
        background-color: $secondary_color;
        @include transition(all, 1s, ease, 0);;
        .post-navigation {
          border-color: transparent;
        }
        span.no-show {
          display: inline-block;
          @include highlight(white);;
        }
        span:first-of-type {
          display: none;
        }
      }
  }
}
img.thumbnail {
    margin: 0 auto 40px;
  }
@media screen and (min-width: 768px) {
  div#social_media-share {
    margin: 40px 0 0;
    padding: 60px 0;
    border-top: 2px solid $primary_color;
  }
  #gallery_info {
    border-bottom: 2px solid transparent;
  }
}